.additional {
  overflow: hidden;
}

.additional__title {
  position: relative;

  margin: 24px 0 35px 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";

    width: 10000%;
    height: 2px;

    top: 62%;
    left: calc(100% - 53px);

    z-index: -1;

    background-color: #68b738;
  }
}

.additional__list {
  margin: 0 20px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.additional__item {
  &:disabled {
    opacity: 0.3;
  }
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .additional__title {
    width: 339px;
    margin: 0 0 0 67px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      position: absolute;
      content: "";

      width: 10000%;
      height: 2px;

      top: 63%;
      right: calc(100% + 37px);

      z-index: -1;

      background-color: #68b738;
    }

    &::before {
      position: absolute;
      content: "";

      width: 10000%;
      height: 2px;

      top: 63%;
      left: calc(100% + 35px);

      z-index: -1;

      background-color: #68b738;
    }
  }

  .additional__list {
    margin-top: 80px;
    flex-direction: column;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .additional__wrapper {
    margin-bottom: 86px;
    display: flex;
    align-items: flex-start;
  }

  .additional__title {
    margin-left: 110px;
    margin-top: 12px;
    margin-bottom: 80px;
  }

  .additional__list {
    max-width: 1075px;
    margin: 0;
  }
}
