.additional-product {
  margin-top: 0;
  margin-bottom: 31px;

  min-width: 280px;
  list-style-type: none;

  &:last-child {
    margin-bottom: 55px;
  }
}

.additional-product__title {
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__list {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.additional-product__item,
.additional-product__price {
  font-family: @font-face-lato;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__button {
  background-color: @foundation-color;

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-white;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .additional-product {
    max-width: 556px;
    min-height: 139px;

    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__item,
  .additional-product__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__button {
    width: 632px;

    font-size: 16px;
    line-height: 20px;
  }
}
