.additional__title {
  margin: 26px 0 35px 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional__list {
  margin: 0 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .additional {
    margin-bottom: 36px;
  }

  .additional__title {
    margin: 0 0 0 67px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    margin-top: 77px;
    flex-direction: column;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .additional__wrapper {
    margin-bottom: 86px;
  }

  .additional__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .additional__title {
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .additional__list {
    max-width: 1075px;
    margin: 0;
  }
}
