.additional-form {
  margin: 0 20px 41px;
}

.additional-form__title {
  margin-bottom: 40px;
  padding: 0;

  font-size: 24px;
  line-height: 26px;
}

.additional-form__list {
  margin: 0 0 0 46px;
  padding: 0;
}

.additional-form__input {
  display: none;
}

.additional-form__item {
  margin-bottom: 24px;

  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:last-child {
    margin: 0;
  }
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .additional-form {
    margin: 0 0 34px 0;
  }

  .additional-form__title {
    margin-left: 70px;
    margin-bottom: 62px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional-form__list {
    margin-left: 130px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 19px;
    grid-column-gap: 17px;
  }

  .additional-form__text {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .additional-form {
    margin-bottom: 41px;
  }

  .additional-form__title {
    margin-left: 110px;
    margin-bottom: 62px;
  }

  .additional-form__list {
    margin: 0 206px 0 170px;

    display: flex;
    justify-content: space-between;
  }
}
