.additional__title {
  margin-top: 50px;
  margin-bottom: 49px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .additional {
    margin-bottom: 36px;
  }

  .additional__title {
    margin: 0;

    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    margin-top: 80px;
    flex-direction: column;
  }
}
