.catalog__list {
  margin-top: 19px;
  margin-bottom: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

/* .catalog__item {
  position: relative;
  margin-bottom: 25px;

  &::after {
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    content: "";
  }

  &:last-child::before {
    position: absolute;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 25px;
    content: "";
  }
} */

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: 68px;
  }

  .catalog__list {
    margin: 0;

    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
    grid-row-gap: 141px;
  }
}
