.gift {
  height: 290px;
  margin-top: 35px;
  margin-bottom: 35px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: linear-gradient(#68b738d9, #68b738d9), url("../img/cat-in-bag.jpg");
  background-size: 280px 290px;
  background-repeat: no-repeat;
  background-position: center;
}

.gift__description {
  margin-top: 187px;
  width: 180px;

  font-family: @font-face-lato;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .gift {
    height: 200px;

    margin-bottom: 76px;
    margin-top: 69px;

    background: linear-gradient(#68b738d9, #68b738d9), url("../img/cat-in-bag-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;
    background-position: center;
  }

  .gift__description {
    margin: 71px 124px 69px 440px;

    text-align: start;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .gift {
    height: 289px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: start;

    background: linear-gradient(#68b738d9, #68b738d9), url("../img/cat-in-bag-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 245px 289px;
    background-position: center;
  }

  .gift__description {
    margin: 185px 43px 42px 42px;

    text-align: center;
  }
}
