.gift {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 35px;
  height: 290px;

  background-image: url("../img/Rectangle-backround-desktop.png"), url("../img/cat-in-bag.jpg");
  background-repeat: no-repeat, no-repeat;
}

.gift__description {
  margin-top: 187px;
  width: 161px;
  font-family: @font-face-lato;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .gift {
    height: 200px;

    margin-bottom: 76px;

    background-image: url("../img/Rectangle-backround-desktop.png"), url("../img/cat-in-bag-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 708px 200px;
  }

  .gift__description {
    margin: 71px 124px 69px 422px;

    text-align: start;
  }
}
