.html-academy {
  min-height: 94px;
}

.html-academy__link {
  width: 100%;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
}

.html-academy__description {
  margin-top: 28px;
  padding: 0;

  font-family: @font-face-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: @text-lato;

  &:active {
    opacity: 0.3;
  }
}

.html-academy__link-icon {
  margin-top: 20px;
  color: #666666;

  &:hover {
    color: #69b738;
  }

  &:focus {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .html-academy__description {
    margin-top: 37px;
    margin-right: 27px;
  }

  .html-academy__link-icon {
    margin-top: 30px;
  }
}
