.html-academy {
  display: flex;
  align-items: center;
  min-height: 78px;
}

.html-academy__link {
  width: 100%;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
}

.html-academy__description {
  margin: 0;
  padding: 0;

  font-family: @font-face-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: @text-lato;
}

.html-academy__link-icon {
  color: #666666;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .html-academy__description {
    margin-right: 23px;
  }
}
