.logo-cat-energy {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.logo-cat-energy__icon {
  color: #111111;
  padding: 40px 77px 14px 77px;

  &:hover {
    color: #3e3e3e;
  }

  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .logo-cat-energy {
    border-bottom: none;
  }

  .logo-cat-energy__icon {
    width: 144px;
    height: 27px;
    margin-top: 5px;
    padding: 0;
  }
}
