.main-nav__toggle {
  border: none;
  background-color: @basic-white;
}

.main-nav__list {
  position: relative;
  display: none;

  margin: 0;
  padding: 0;

  list-style-type: none;

  /*   &--open {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 320px;
    min-height: 198px;

    top: 65px;
    left: 0;
    right: 0;

    background-color: #ffffff;
  } */
}

.main-nav__item {
  display: flex;
  align-items: center;

  min-height: 66px;
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;

    width: 440px;
  }

  .main-nav__item {
    align-items: flex-end;
  }

  .main-nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 478px;
  }


  .main-nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
