.main-footer {
  font-family: "Oswald-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main-footer__store {
  height: 474px;
  margin: 0;
  padding: 0;
}

.main-footer__footer {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
