.nutrition-promo {
  margin: 0 20px 49px 20px;
  padding: 0;

  font-family: @font-face-lato;
  font-style: normal;
  font-weight: 400;
  color: @text-lato;
}

.nutrition-promo__description {
  margin-top: 0;
  margin-bottom: 40px;

  font-family: @font-face-oswald;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.nutrition-promo__list {
  position: relative;

  margin: 0;
  padding: 0;
}

.nutrition-promo__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
}

.nutrition-promo__decor {
  min-width: 60px;
  min-height: 60px;

  margin-right: 20px;

  background-color: @foundation-color;

  &--leaflet {
    background-image: url("../img/leaflet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--boiling-water {
    background-image: url("../img/boiling-water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--knife-and-fork {
    background-image: url("../img/cutlery.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--watch {
    background-image: url("../img/watch.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.nutrition-promo__text {
  margin: 0;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .nutrition-promo__description {
    margin-left: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .nutrition-promo__list {
    margin: 32px 30px 0 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .nutrition-promo__item {
    max-width: 250px;
    min-height: 280px;

    flex-wrap: wrap;
    justify-content: start;

    font-size: 16px;
    line-height: 24px;
  }

  .nutrition-promo__decor {
    min-width: 80px;
    min-height: 80px;

    margin-bottom: 31px;
  }
}
