.programs {
  margin: 0 20px 51px 65px;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  margin-bottom: 25px;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  &:last-child {
    margin: 0;
  }
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .programs {
    margin: 0 67px 75px 71px;

    border: 1px solid #e7e7e7;
  }

  .programs__item {
    font-size: 20px;
    line-height: 30px;
  }

  .programs__list {
    margin: 30px 0 30px 87px;
  }
}

/* Десктопная версия сайта */
@media (min-width: @desktop-width) {
  .programs {
    min-width: 570px;
    margin: 0;

    border: 1px solid #e7e7e7;
  }
}
