.social {
  margin: 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 132px;

  margin: 0 auto;
  padding: 0;
}

.social__item {
  list-style: none;
}

.social__link {
  text-decoration: none;
}

.social__link-icon {
  color: #666666;
}

/* Планшетная версия сайта */
@media (min-width: @tablet-width) {
  .social__list {
    min-width: 120px;
  }
}
