.store__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 112px;
  padding-right: 20px;
  padding-left: 20px;

  &--catalog {
    background-color: @basic-grey;
  }
}

.store__description {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.store__adress {
  margin: 0;

  font-family: @font-face-lato;
  font-size: 14px;
  line-height: 20px;
}

.store__adress-map {
  display: block;
}
